.card-perfil {
  background: rgba(27, 24, 45, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-perfil-avatar {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  width: 80px;
  height: 80px;
}

.card-perfil-social-icon-github {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #00b7ff;
    transform: translateY(-8px);
    transition: .2s;
  }
}

.card-perfil-social-icon-linkedin {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #0084ff;
    transform: translateY(-8px);
    transition: .2s;
  }
}

.card-perfil-social-icon-instagram {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #ff00ff;
    transform: translateY(-8px);
    transition: .2s;
  }
}

.card-perfil-social-icon-twitter {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #00a2ff;
    transform: translateY(-8px);
    transition: .2s;
  }
}

.card-perfil-social-icon-discord {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #7700ff;
    transform: translateY(-8px);
    transition: .2s;
  }
}

.card-perfil-social-icon-whatsapp {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #05FF00;
    transform: translateY(-8px);
    transition: .2s;
  }
}
