@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./typography.scss";
@import "./animations.scss";

@import "./vscode-screen/vscode-screen.scss";
@import "./card-perfil/card-perfil.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/background.png"), $dark;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
}

.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bg-gradient-blue {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.vector-1 {
  z-index: -1;
  position: absolute;
  bottom: 10%;
  right: -300px;
  @media screen and (max-width: 728px) {
    bottom: 40%;
    right: -300px;
    transform: translateX(50%) scale(0.5);
  }
}

.playstation {
  position: absolute;
  right: 100px;
  top: -100px;
  width: 15%;
  @media screen and (max-width: 728px) {
    right: 20px;
    top: -50px;
  }
}

.mario {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 80px;
}
