@import "~bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./typography.scss";
@import "./animations.scss";

@import "./vscode-screen/vscode-screen.scss";
@import "./card-perfil/card-perfil.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $dark;
  font-family: "Montserrat Alternates", sans-serif;
}

.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bg-gradient-blue {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.vector-1 {
  z-index: -1;
  position: absolute;
  bottom: 10%;
  right: -500px;
  @media screen and (max-width: 728px) {
    top: -110%;
    left: -100%;
    transform: translateX(50%) scale(0.5);
  }
}

.card-perfil-social-icon {
  color: #fff;
  transition: .8s;
  &:hover {
    color: #05FF00;
    transform: translateY(-10px);
    transition: .2s;
  }
}
