@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.title-one {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: auto;
  color: #ffffff;
  @media screen and (max-width: 728px) {
    font-size: 2rem;
  }
}

.title-two {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: auto;
  background: -webkit-linear-gradient(45deg,#FF3D00 0%, #FA00FF 50%, #6100FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: 728px) {
    font-size: 2rem;
  }
}

.font-12 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 15px;
  color: #fbfcfd;
}

.font-32 {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 15px;
  color: #fbfcfd;
}
